body{
    background-color: hsl(169,74%,63%);
    font-family: "poppins", sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

nav{
    width: 100%;
    height: 160px;
    background-color:rgb(165, 219, 221);
}
nav ul li{
    list-style-type: none;
    display: inline block;
    transition: 0.8s all;
    padding: 10px 60px;
}
.img-logo{
    width: 100px;
    padding: 30px;
    padding-right: 5%;
}

/* ESTILOS SECCION */
.section{
    background-color: rgb(133, 250, 211);
    }
img{
    max-width: 100%;
    display:inline;
}

footer{
    background-color: rgb(133, 250, 211);
    color: black;
    line-height: 10px;
    text-align: center;
    padding: 30px;
}
footer div a{
    text-decoration: none;
    color: black;
}